* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background: rgb(126, 243, 212);
  background: linear-gradient(
    108deg,
    rgba(126, 243, 212, 1) 23%,
    rgba(88, 152, 32, 1) 56%,
    rgba(138, 109, 51, 1) 98%
  );
}
.home {
  width: 100vw;
  height: fit-content;
  padding: 0 1rem 3rem 1rem;
}
.home h1 {
  background: linear-gradient(
    180deg,
    rgba(150, 45, 83, 1) 34%,
    rgba(59, 33, 166, 1) 65%
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  text-align: center;
  margin: 2rem 0 5rem 0;
  font-size: 3.5rem;
}
main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #8de5d1;
  border-radius: 0.25rem;
  cursor: pointer;
  width: 15%;
  min-width: 230px;
  min-height: 300px;
  height: 300px;
  padding: 1rem;
  box-shadow: rgba(201, 161, 140, 0.7) 5px 5px;
}

.card h3 {
  font-size: 1.1rem;
}
.flex-container {
  padding: 0 2rem 0 0;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.flex-container1 {
  padding: 0 2rem 0 0;
  display: flex;
  justify-content: flex-start;
  gap: 30px;
}
.detail-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.detail-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #8de5d1;
  border-radius: 0.5rem;
  width: 40%;
  gap: 1rem;
  min-width: 530px;
  min-height: 400px;
  height: 500px;
  padding: 1rem;
  box-shadow: rgba(201, 161, 140, 0.7) 10px 10px;
}

.detail-card h1 {
  text-align: center;
  font-size: 2.5rem;
}

.detail-card p {
  font-size: 1.5rem;
}
@media screen and (max-width: 530px) {
  .home h1 {
    margin: 1rem 0 3rem 0;
    font-size: 2.2rem;
  }
  .home h1 img {
    display: none;
  }
  main {
    gap: 1rem;
  }
  .card {
    min-width: 200px;
    min-height: 290px;
  }
  .card h3 {
    font-size: 1rem;
  }

  .card p {
    font-size: 0.9rem;
  }

  .detail-card {
    width: 90%;
    min-width: 300px;
  }

  .detail-card h1 {
    font-size: 2rem;
  }

  .detail-card p {
    font-size: 1.1rem;
  }
}
@media screen and (min-width: 530px) and (max-width: 700px) {
  .home h1 {
    margin: 1rem 0 3rem 0;
    font-size: 2.8rem;
  }
  .detail-card {
    width: 90%;
  }
}
